<div class="gallery">
		
        <!-- Gallery Slider -->
        <div class="gallery_slider_container">
                <div class="owl-carousel owl-theme gallery_slider">

                        <!-- Slide -->
                        <div class="owl-item"><img src="{{ asset('img/soccer.jpg') }}" alt=""></div>

                        <!-- Slide -->
                        <div class="owl-item"><img src="{{ asset('img/Tennis.jpeg')}}" alt=""></div>

                        <!-- Slide -->
                        <div class="owl-item"><img src="{{ asset('img/baseball.jpeg') }}" alt=""></div>

                        <!-- Slide -->
                        <div class="owl-item"><img src="{{ asset('img/soccer2.jpeg') }}" alt=""></div>

                        <!-- Slide -->
                        <div class="owl-item"><img src="{{ asset('img/basketball.jpeg') }}" alt=""></div>

                </div>
        </div>
</div>