{% extends 'base.html.twig' %}
{% block title %}event.evName{% endblock %}
{% block body %}
    <div class="container"> 
        <div class="home">
            <div class="container">  
                <div class="s01">
                    <div class="inner-form">
                        <h1>Event</h1>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Evname</th>
                                    <td>{{ event.evName }}</td>
                                </tr>
                                <tr>
                                    <th>Event description</th>
                                    <td>{{ event.evDescription }}</td>
                                </tr>
                                <tr>
                                    <th>Event location</th>
                                    <td>{{ event.evLocation }}</td>
                                </tr>
                                <tr>
                                    <th>Event created datetime</th>
                                    <td>{% if event.evCreatedDatetime %}{{ event.evCreatedDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Event planned datetime</th>
                                    <td>{% if event.evPlannedDatetime %}{{ event.evPlannedDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                            </tbody>
                        </table>

                        <ul>
                            <li>
                                <a href="{{ path('events_index') }}">Back to the list</a>
                            </li>
                        </ul>
                    </div>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}
