{% extends "base.html.twig" %}

{% block title %}Login page{% endblock %}

{% block body %}
     <div class="container"> 
            <div class="home">
                <div class="container">  
                    <div class="s01">
                            <div class="inner-form">
    {{ form_start(form) }}
        <span class = "email">{{ form_row(form.email) }}</span>
        <span class = "password">{{ form_row(form.password) }}</span>
        
    <label>
        <input type="checkbox" checked="checked" name="remote_remember_me" style="margin-bottom:15px"> Remember me
    </label>    
    {{ form_rest(form) }}
        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account"/>
        #}
        <button  type="submit">Login</button>
        
    {{ form_end(form) }}
    
    
    
                        </div>  
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block form_errors %}
    <div class="home">
        <div class="home_container">
            <div class="container">  
                <div class="row">
                    <div class="col">
                        {% spaceless %}
                            {% if errors|length > 0 %}
                            <ul>
                                {% for error in errors %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endspaceless %}
                        {{ form_errors(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock form_errors %}
{% block javascripts %}    
    
{% endblock%}


