{% extends 'base.html.twig' %}

{% block title %}Register page{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button type="submit">Register</button>
    {{ form_end(form) }}
    <br />
    Also, if you have an account, you can:
    <ul>
        <li>
            <a href="{{ path('login') }}">Sign in</a>
        </li>
    </ul>
    {{ form_errors(form) }}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
